.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.cell {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 150px;
  position: relative;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #b7b1c8; /* Hover 시 배경색 변경 */
}

.cell.today {
  background-color: #a2c5c9; /* 오늘 날짜 셀 배경색 */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 3px;
}

.checkboxLabel {
  display: flex; /* or display: inline-flex; */
  align-items: center; /* Align items vertically */
}

.checkbox {
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
